{% extends "biblio/index.html" %}



{% block titulo %}
<span>
<h1 class="mb.4" color="Aquamarine">Hola mundo...!</h1>
</span>
{% endblock titulo %}

{% block contenido %}
<section class="about-me">
    <h2 class="mb-3">¡Hola! Soy Vicente Quarleri, y estoy dando mis primeros pasos en el mundo del desarrollo.</h2>
    
    <p>
        Después de 14 años trabajando en la parte operativa del área de fraude en una empresa financiera en Brasil, he decidido dar un giro hacia el análisis estratégico. Mi objetivo ahora es entender y prevenir el fraude de manera más efectiva. 
    </p>
    
    <p>
        En mi vida personal, estoy casado desde hace casi 10 años y soy papá de Bianca. ¡En enero, la familia crece con la llegada de Lucas! 🍼👶
    </p>
    
    <p>
        En mis ratos libres, disfruto pasar tiempo con mi familia. Cuando tengo un poco más de tiempo libre, me encanta sumergirme en el mundo de los videojuegos. 🎮
    </p>
    
    <p>
        Si te interesa saber más sobre mí o mi trabajo, no dudes en contactarme.
    </p>
</section>
{% endblock contenido %}