{% extends "biblio/index.html" %}



{% block titulo %}
<h2>Direcciones</h2>
<p>Ingresa hasta 3 direcciones en donde podes recibir tus libros</p>
</span>
{% endblock titulo %}



{% block contenido %}

<table class="table table-striped"> 
    <thead>
        <tr>

            <td width="200"><h2>Direcciones</h2></td>
    
            <td>
    
                <a
    
                href="{% url 'direccionesForm' %}"
    
                class="btn btn-primary btn-sm"
    
                ><i class="fa fa-plus fa-lg" title="Crear"> </i>
    
                </a>
    
            </td>        
    
        </tr>
        <tr>
            <th>Id</td>
            <th>Calle</td>
            <th>Altura</th>
            <th>Timbre</th>
            <th>Barrio</th>
            <th>Nombre</th>
            <th>Telefono</th>
        
        </tr>
    </thead>
    <tbody>
    {% for d in direcciones %}
        <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.calle }}</td>
            <td>{{ d.altura }}</td>
            <td>{{ d.timbre }}</td>
            <td>{{ d.barrio }}</td>
            <td>{{ d.nombre }}</td>
            <td>{{ d.telefono }}</td>
            <th>

                <a

                  href="{% url 'direccionUpdate' d.id %}"

                  class="btn btn-primary"

                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"

                  ><i class="fa-solid fa-pencil" title="Editar"></i>

                </a>

                <a

                  href="{% url 'direccionDelete' d.id %}"

                  class="btn btn-danger"

                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"

                  ><i class="fa-solid fa-eraser" title="Borrar"></i>

                </a>                

            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    
  